/**
 * @description Widget styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
& when (@media-common = true) {
    .contact-form-widget-container {
        .input-field {
            display        : flex;
            justify-content: space-between;
            flex-direction : column;
            margin         : 2% 0;

            label {
                order     : 1;
                flex-basis: 15%;
            }

            input, textarea {
                order: 2;
            }
        }
    }
}
